@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@400;700&display=swap");

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Roboto' sans-serif;
}

body{
    background-color: rgba(15, 14, 14, 0.717);
}

.card{
    font-family: 'Roboto' sans-serif;
    background-color: rgba(55, 54, 54, 0.89);
    color: white;
    font-size: 20px;
    margin-top: 25%;
} 


#botao:hover{
font-size: 17px;
}
